body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

header .container .left {
    display: flex;
}

header .left{
    align-items: center;
}

header .container .left ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.left ul li a{
    color: #9E9AA8;
    text-decoration: none;
}

header .right ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

header .right ul li a{
    color: #9E9AA8;
    text-decoration: none;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.qator1{
    background-color: #2BD0D0;
    padding: 11px 20px 11px;
    border-radius: 30px;
}

.qator1 .tor{
    color: white;
    font-weight: bold;
}

.font .left p{
    color: #9E9AA8;
}

.font .left h1{
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.font .left a{
    color: white;
    text-decoration: none;
    background-color: #2BD0D0;
    padding: 11px 30px 11px;
    border-radius: 30px;
}

.font .left p{
    margin-bottom: 40px;
}

.font .right{
    margin-bottom: 50px;
}

.font .container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.font .container .left{
    margin-top: 30px;
}

.font .container .left img{
    height: 120px;
}

.font .right img {
    position: relative;
    right: -150px;
}

.contact {
   background-color: rgb(75, 37, 37);
    padding: 30px;
    text-align: center;
}


.contact a{
    background-color: #2BD0D0;
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
    
}

.contact h2{
    color: white;
}

.contact form {
    background-color: #4B3F6B;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    top: -70px;
}

.contact form input {
    padding: 10px;
    width: 900px;
    border-radius: 10px;
    border: none;
}

.contact form button {
    background-color: #2BD0D0;
    border-radius: 10px;
     padding: 15px;

}

footer{
    background-color: #232127;
}

footer .container .left{
    display: flex;
}

footer .container .left ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: 67px;
    align-items: center;
    margin-bottom: 60px;
}

footer .left ul a{
    color: white;
    align-items: center;
}

footer .left img{
    height: 30px;
    margin-top: 60px;
    align-items: center;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

footer .container .right{
    margin-top: 60px;
    margin-bottom: 60px;
}